
.login-form {
    max-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin:auto;
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding: 1em;
}

button {
    border: none;
    padding: .75em 1.5em;
    color: black;
    background-color: rgba(0, 255, 255, 0.8);
}